@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #F18274,#D83F37);

}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #5a1a17d3;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 { 
    
    color: #3F3E3C;
    text-align: center;
    text-shadow: 1px 1px 2px #141413b2;

}
h2{
    color: #D83F37;

}

p{
    text-align: justify;
}
